@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body{
	background-color:#1A1A1A;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
body h2{
	font-family: 'Arial Black', Gadget, sans-serif;
}



/*.logo{
	width: 150px;
}*/

.menu-nav{
	position: relative;
}
.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
.menu-nav ul li.btn a{
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-decoration: none;
	padding: 50px;
	font-size: 30px;
}

.menu-nav ul li.btn a:hover{
	color: #D81C1C;
	text-decoration: none;
	padding: 50px;
	transition: 0.5s;

}

.logo{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

		.container{
			margin-top: 150px;
			display: flex;
			justify-content: center;
			border: 5px solid #202020;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 30px;
			/*margin-top: 150px;
			margin-right: 20px;
			margin-left: 20px;
			display:grid;
    		grid-template-columns: 75% 25% ;
    		grid-template-rows:fr 200px;
    		grid-column-gap:0px;
    		grid-row-gap: 20px;
    		justify-items: stretch;
    		align-items: stretch;
    		border: 5px solid #202020;
    		-moz-border-radius: 15px;
    		-webkit-border-radius: 15px;
			border-radius: 30px;
			overflow: hidden;*/
		}

		.container img{
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 30px;
			padding: 7.5px;
			background-color: #414649;
			
			
.menu-nav ul li.langue a{
			display: inline-block ;
			list-style-type: none; 
			padding :7.5px;
			background-color : white;
			



			/*overflow:;
			clear: both;
			margin-top: 5px;
			margin-left: 120px;
    		-moz-border-radius: 15px;
    		-webkit-border-radius: 15px;
			border-radius: 30px;
			padding: 7.5px;
			background-color: #414649;
			object-fit: scale-down;*/


		}
		.container h2{
			text-align: center;
			color: white;
			list-style: cambodian;
		}
		.container p.info{
			color: #636363;
			text-align: center;


		}
		.container p.synopsis{
			text-align: center;
			color: #C3C3C3;
			font-size: 20px;
			margin-right: 15px;
			margin-left: 15spx;


		}
		.épisodes{
			margin-top: 100px;
			margin-left: 160px;
		}
		.épisodes a{
			color:#C3C3C3;
			text-decoration: none;
		}
		.épisodes a:hover{
			color:#D50D45;
			text-decoration: none;
			transition: 0.2s;
		}
		.épisodes h2{
			color:#E4E3E3;

		}
		footer{
			margin-top: 100px;
		}

#search{
		margin-top: 10px;
		width: 1000px;
		height: 50px;
		display: inline-block;
		-moz-border-radius: 15px;
    	-webkit-border-radius: 15px;
		border-radius: 30px;
		border: 0px solid #232121;
		background-color: #232121;
		font-size: 25px;
		color: white;

}
input {
	padding-left: 20px;
	animation:
}
#content{
	margin-top: 50px;
	text-align:center;

}

.série{
	padding-left: 5.5px;
	padding-right: 5.5px;
}
.série img{
	padding: 7.5px;
	background-color: #414649;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;


}

.série img:hover{
	background-color:#DAD9D3;
	transition: 0.5s;

}

footer{
	background-color:#1A1A1A;
	color: #DADADA;
}

@media screen and (max-width:1024px)
{
	.logo{
		display: flex;
		justify-content: center;
		width: 80%;
	}
	.menu-nav ul li.btn{
		display: flex;
		flex-direction: column;
		margin-bottom: 1px;
	}
	.menu-nav ul li.btn a{
		font-size: 45px;
	}
	#content{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.série img{
		width: 70%;
		padding:12px;



	}
	#search{
		display: grid;
		width: 90%;
		height: 75px;
	}

	.container{
		display: flex;
		justify-content: center;
		border: 5px solid #202020;
		width: 95%;
		flex-direction: column;
		align-content:center;
		margin: 0 auto;
	}

	.resume{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order: 2;
	}
	.synopsis{
		font-size: 60%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.container img{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.épisodes{
		margin-left: 50px;

	}
	iframe{
		text-align: center;
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 30%;

	}
}





/*div.content ul li.série{
	display: inline-block;
	padding: 15px;
	background: #414649;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;

}
div.content ul li.série:hover{
	display: inline-block;
    padding: 15px;
	background: #DAD9D3;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;
	transition: 0.5s
}
div.content ul li.série a img{
	-moz-border-radius: 20px;
 	-webkit-border-radius: 20px;
	border-radius: 20px;
}/

/* { box-sizing:border-box;}
body{ margin: 0; padding: 0;}
.content>*{
	padding: 5px;
	font-size: 24px;
	font-family: monospace;
	color: #1d1d1d;
	text-align: center;
}
 .content>*:nth-child(even) {
 	background-color: #bada55;
 	border: 5px solid #caea00;
 }
 .content>*:nth-child(odd){
 	background-color: #fafafa;
 	border: 5px solid: #eaeaea;

 }

 .grid{
 	display: grid;
 	grid-template-columns: 33.33% , 33.33% , 33.33%;
 }/
